

<!DOCTYPE html>
<html>
<head>

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  
  <div class="container">
    <div class="row top-page">
      <div class="col-md-6">
      </div>
    </div>
    <div class="row top-page">
      <div class="col-md-10"></div>
      <div class="col-md-2 text-right"></div>
    </div>
    <div class="row divider gold">
      <div class="col-md-12"></div>
    </div>
    <div class="row banner main">
      <div class="col-md-1"></div>
      <div class="col-md-11 padding-none">
        <h1>Login</h1>
      </div>
    </div>

<!-- GOOGLE PLUS SIGN IN-->

          
    <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="476857383524-v14ajugl555nkukpk2knf8n06dp89cq0.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>

<div id="result"></div>
</div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button when the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, print out a 'login successful' message to the web page and then redirect back to the main store page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/store";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

</body>

</html>