{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner fashion">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Fashion Item</h1>
		</div>
	</div>
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
	<div class="row padding-top padding-bottom">
		<div class="row">
			<div class="col-md-6 col-md-offset-1 padding-top">
				<form action="#" method = "post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">

						<label for="price">Price:</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input type ="text" class="form-control" maxlength="10" name="price"placeholder="Price in $">
						</div>
						<label for="category">Category:</label>
						<div class="radio">
						  <label>
						    <input type="radio" name="category" id="category1" value="Tops" checked="checked">Tops
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="category" id="category2" value="Bottoms">Bottoms
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="category" id="category3" value="Shoes">Shoes
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="category" id="category4" value="Jewellery">Jewellery
						  </label>
						</div>
						<button type="submit" class="btn btn-default" id="submit" type="submit">
						<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
