{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-page">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider gold">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Stores</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newStore')}}">
				<button class="btn btn-default" id="new-store">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Store
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for store in stores %}
		<a href = "{{url_for('showItem', store_id = store.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 store-list">
						<h3>{{store.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
